.benefits {
	padding: 93px 0 50px;
	background-image: url(../img/ben-bg.png);
	background-position: center 540px;
	background-repeat: no-repeat;
	@include _640 {
		padding: 50px 0 0;
		background-position: center 820px;
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -60px 93px;
		@include _640 {
			margin: 0;
			margin-bottom: 50px;
		}

		&__item {
			position: relative;
			padding: 0 60px;
			width: calc(100% / 3);
			@include _640 {
				width: 100%;
				padding: 24px 0;
				display: flex;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 1px;
					background-color: $bege;
				}

				&:last-child {
					&::after {
						display: none;
					}
				}
			}

			&:nth-child(3n+2) {
				border: 1px solid $bege;
				border-top: none;
				border-bottom: none;
				@include _640 {
					border-left: none;
					border-right: none;
				}
			}

			&:nth-child(-n+3) {
				padding-bottom: 36px;
				@include _640 {
					padding-bottom: 24px;
				}

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 60px;
					right: 60px;
					height: 1px;
					background-color: $bege;
					@include _640 {
						left: 0;
						right: 0;
					}
				}
			}

			&:nth-child(n+4) {
				padding-top: 36px;
				@include _640 {
					padding-top: 24px;
				}
			}

			.icon {
				height: 85px;
				width: 70px;
				margin-bottom: 16px;
				@include _640 {
					flex: none;
					margin-right: 18px;
					width: 50px;
					height: 60px;
				}
			}
		}

		&__title {
			color: $dark-gray;
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 8px;
			text-transform: uppercase;
			@include _640 {
				font-size: 14px;
			}
		}

		&__desc {
			line-height: 22px;
			@include _640 {
				font-size: 14px;
			}
		}
	}
}

.spec-slider {
	margin-bottom: 50px;

	&__item {
		@include _640 {
			width: 80%;
		}

		&:hover {

			.spec-slider__link {
				opacity: 1;
				pointer-events: all;
			}
		}
	}

	&__img {
		min-height: 360px;
		background-image: url(../img/doc-bg.png);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 24px;
		position: relative;
		@include _640 {
			min-height: 0;
			display: flex;
			align-items: flex-end;
		}

		img {
			vertical-align: bottom;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 45px;
		background-image: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%);
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s ease;
	}

	&__caption {
		color: $green;
		font-size: 20px;
		margin-bottom: 7px;
		@include _640 {
			font-size: 18px;
		}

		strong {
			display: block;
			text-transform: uppercase;
			margin-bottom: 2px;
		}
	}

	&__desc {
		font-size: 18px;
		padding-bottom: 16px;
		@include _640 {
			font-size: 16px;
		}

		&::after {
			content: '';
			background-color: $mid-gray;
			height: 1px;
			width: 79px;
			display: block;
			margin-top: 16px;
		}
	}

	&__sub {
		color: $mid-gray;
		font-size: 14px;
		@include _640 {
			font-size: 12px;
		}
	}
}

.tour {
	min-height: 633px;
	background-color: $green;
	padding: 53px 24px 24px;
	position: relative;
	@include _640 {
		margin: 0 -15px;
		padding: 30px 15px 24px;
		min-height: auto;
	}

	&-head {
		color: #fff;
		font-family: "Elisabethische", serif;
		font-size: 36px;
		text-transform: uppercase;
		position: absolute;
		left: 50%;
		top: 35px;
		transform: translateX(-50%);
		padding: 0 38px;
		background-color: $green;
		@include _640 {
			top: 20px;
			font-size: 24px;
			white-space: nowrap;
			padding: 0 16px;
		}
	}

	&-content {
		border: 1px solid #fff;
		padding: 37px 24px 24px;
	}
}