.stock {
	background-color: $bege;
	padding: 90px 0 70px;

	&-slider {
		display: flex;

		&__item {
			color: $dark-gray;
		}

		&__img {
			margin-bottom: 16px;
			min-height: 300px;
		}

		&__caption {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 6px;
			text-transform: uppercase;
		}

		&__desc {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 24px;
		}

		&__link {
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
}