<section class="stock">
	<div class="container">
		<div class="section-head">
			<h2 class="title">Акции</h2>
			<div class="section-action">
				<button class="btn btn--secondary">Все акции</button>
			</div>
		</div>
		<div class="stock-slider swiper">
			<div class="swiper-wrapper">
				<div class="stock-slider__item swiper-slide">
					<div class="stock-slider__img">
						<img src="/img/promition-img.jpg" alt="Акция 1">
					</div>
					<div class="stock-slider__caption">
						Акция на полное обследование до 31 июля
					</div>
					<div class="stock-slider__desc">
						Скидка действует с 1 по 31 июля в медцентре “Профессор”
					</div>
					<a href="javascript;" class="stock-slider__link">Подробнее</a>
				</div>
				<div class="stock-slider__item swiper-slide">
					<div class="stock-slider__img">
						<img src="/img/promition-img-2.jpg" alt="Акция 1">
					</div>
					<div class="stock-slider__caption">
						скидка 10% на радиочастотный лифтинг
					</div>
					<div class="stock-slider__desc">
						Скидка действует с 1 по 31 июля в медцентре “Профессор”
					</div>
					<a href="javascript;" class="stock-slider__link">Подробнее</a>
				</div>
				<div class="stock-slider__item swiper-slide">
					<div class="stock-slider__img">
						<img src="/img/promition-img-3.jpg" alt="Акция 1">
					</div>
					<div class="stock-slider__caption">
						скидка 20% на первое посещение клиники c  1 по 31 июля
					</div>
					<div class="stock-slider__desc">
						Скидка действует с 1 по 31 июля в медцентре “Профессор”
					</div>
					<a href="javascript;" class="stock-slider__link">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>