*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

html,
body {
	background-color: #fff;
	color: $dark-gray;
	font-family: Rubik, sans-serif;
	line-height: 1.4;
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Elisabethische", serif;
	font-weight: 400;
	position: relative;
	text-transform: uppercase;
}

h1 {
	font-size: 60px;
	@include _640 {
		font-size: 36px;
	}
}

h2 {
	font-size: 36px;
	@include _640 {
		font-size: 24px;
	}
}

.headline {
	&::after {
		content: '';
		background-color: $dark-gray;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 1px;
		width: 110%;
	}
}

.title {
	font-family: "Elisabethische", serif;
	font-size: 36px;
	font-weight: 400;
	position: relative;
	text-transform: uppercase;
	@include _640 {
		font-size: 24px;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 55%;
		right: 100%;
		height: 60px;
		width: 60px;
		background-image: url(../img/star.png);
		background-repeat: no-repeat;
		background-position: center;
		@include _640 {
			display: none;
		}
	}

	&::after {
		content: '';
		background-color: $dark-gray;
		position: absolute;
		bottom: 0;
		right: 0;
		height: 1px;
		width: 500%;
	}

	&--dark {
		&::before {
			background-image: url(../img/star-d.png);
		}
	}
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.link-green {
	color: $green;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: underline;
}

.link-icon {

	&:hover {
		opacity: 0.8;
		text-decoration: none;
	}
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: transparent;
	line-height: 1;
}

.btn {
	display: inline-block;
	text-transform: uppercase;

	&--primary,
	&--secondary {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		line-height: 50px;
		font-size: 12px;
		font-weight: 700;
		text-align: center;
		text-decoration: none;
		transition: background-color .2s ease;

		&:hover {
			text-decoration: none;
		}
	}

	&--primary {
		background-color: $orange;
		color: #fff;
		border: 1px solid;
		padding-left: 13px;
		padding-right: 13px;
		position: relative;

		&:hover {
			background-color: #dd8c42;
		}

		&::after {
			content: '';
			position: absolute;
			top: 3px;
			bottom: 3px;
			left: 3px;
			right: 3px;
			border: 1px solid hsla(0, 0%, 100%, 0.5);
			pointer-events: none;
		}
	}

	&--secondary {
		background-color: transparent;
		color: $dark-gray;
		border: 1px solid;
		padding-left: 24px;
		padding-right: 24px;

		&:hover {
			background-color: $light-gray;
		}
	}

	&--icon {
		font-size: 0;
		line-height: 1;

		&:hover {
			opacity: 0.8;
		}
	}
}

.icon {
	display: inline-block;
	fill: currentColor;
	height: 24px;
	width: 24px;
}

input {
	border-radius: 8px;
	border: 1px solid $mid-gray;
	height: 30px;
	padding: 5px 10px;
	width: 180px;
	@include _640 {
		width: 100%;
	}
}

.input-group {
	position: relative;

	input {
		padding-right: 28px;
	}

	.icon {
		position: absolute;
		top: 3px;
		right: 3px;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

.section-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	@include _640 {
		margin-bottom: 36px;
	}
}

.section-slider-actions {
	display: flex;
	gap: 30px;
	@include _640 {
		display: none;
	}

	.swiper-button {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	}
}

.swiper-button {
	color: $dark-gray;
	height: 36px;
	width: 36px;

	&::after {
		display: none;
	}

	.icon {
		stroke-width: 1.8px;
		stroke: currentColor;
		height: 100%;
		width: 100%;
	}
}