.footer {
	background-image: url(../img/footer-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 38px 0;
	@include _640 {
		background-image: url(../img/footer-bg-m.jpg);
	}

	&-logo {
		@include _640 {
			display: flex;
			align-items: center;
		}

		img {
			@include _640 {
				margin-right: 16px;
				max-width: 145px;
			}
		}

		.header-logo__text {
			font-size: 15px;
		}
		
	}

	&-line {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $mid-gray;
		@include _640 {
			flex-direction: column;
			align-items: flex-start;
		}

		&--top {
			color: #fff;
			gap: 124px;
			padding-bottom: 24px;
			@include _640 {
				gap: 24px;
			}

			.info-menu-contact {
				@include _640 {
					gap: 16px;
				}
			}
		}

		&--mid {
			padding: 16px 0;
			color: #C9C9C9;
			justify-content: space-between;
			font-size: 14px;
			@include _640 {
				font-size: 12px;
			}
		}

		&--bottom {
			color: #C9C9C9;
			border-bottom: none;
			padding-top: 16px;
		}
	}

	&-copyright {

		span {
			display: inline-block;
			margin-right: 44px;
			@include _640 {
				display: block;
			}
		}

		a {
			@include _640 {
				display: inline-block;
				margin: 16px 0;
				text-decoration: underline;
			}
		}
	}

	&-desc {
		font-size: 10px;
		margin: 0 68px;
		line-height: 1.45;
		max-width: 515px;
		@include _640 {
			margin: 24px 0;
		}
	}

	&-warning {
		font-size: 32px;
		font-weight: 300;
		line-height: 1.3;
		@include _640 {
			font-size: 20px;
		}
	}

	.info-menu {

		&-contact__item .icon {
			color: #fff;
		}

		&-social {
			color: #fff;
		}

		&-contact__desc {
			color: #fff;
		}

		&-phones {
			color: #fff;
		}
	}
}