<footer class="footer">
	<div class="container">
		<div class="footer-line footer-line--top">
			<a href="/" title="На Главную">
				<img src="/img/logo-footer.png" alt="Логотип">
			</a>
			<div class="info-menu-contact">
				<div class="info-menu-contact__item">
					@@include('_svg-icon.html', { "name": "fa_mail" })
					<div class="info-menu-contact__main">
						<div class="info-menu-contact__caption">
							<a href="mailto:zapis@mcprofessor.ru">zapis@mcprofessor.ru</a>
						</div>
					</div>
				</div>
				<div class="info-menu-contact__item">
					@@include('_svg-icon.html', { "name": "fa_map" })
					<div class="info-menu-contact__main">
						<div class="info-menu-contact__desc">м. Чернышевская</div>
						<div class="info-menu-contact__caption">ул. Чайковского, 42</div>
					</div>
				</div>
				<div class="info-menu-contact__item">
					@@include('_svg-icon.html', { "name": "fa_clock" })
					<div class="info-menu-contact__main">
						<div class="info-menu-contact__desc">Время работы</div>
						<div class="info-menu-contact__caption">пн-пт: 9-21, сб: 9-20, вс: 9-19</div>
					</div>
				</div>
			</div>
			<div class="info-menu-social">
				<a href="javascript;" class="link-icon" title="Telegram">
					@@include('_svg-icon.html', { "name": "telegram" })
				</a>
				<a href="javascript;" class="link-icon" title="Viber">
					@@include('_svg-icon.html', { "name": "viber" })
				</a>
				<a href="javascript;" class="link-icon" title="Whats App">
					@@include('_svg-icon.html', { "name": "whatsapp" })
				</a>
			</div>
			<div class="info-menu-phones">
				<a href="tel:+7 (812) 272-70-24">+7 (812) 272-70-24</a>
				<a href="tel:+7 (812) 272-37-34">+7 (812) 272-37-34</a>
				<a href="tel:+7 (812) 275-86-96">+7 (812) 275-86-96</a>
			</div>
		</div>
		<div class="footer-line footer-line--mid">
			<div class="footer-copyright">
				<span>© Медцентр “Профессор” 2022</span>
				<a href="/">Политика конфиденциальности</a>
			</div>
			<span>Разработано в Topform.ru</span>
		</div>
		<div class="footer-line footer-line--bottom">
			<img src="/img/qr.png" alt="QR код">
			<div class="footer-desc">
				Материалы, размещенные на данной странице, носят информационный характер и предназначены для образовательных целей. Посетители сайта не должны использовать их в качестве медицинских рекомендаций. Определение диагноза и выбор методики лечения остается исключительной прерогативой лечащего врача! МЦ «Профессор» не несет ответственности за возможные негативные последствия, возникшие в результате использования информации, размещенной на сайте mcprofessor.ru. Информация и цены, представленные на сайте, не являются публичной офертой. 
			</div>
			<div class="footer-warning">
				ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ.<br>НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
			</div>
		</div>
	</div>
</footer>
