<section class="hero">
	<div class="container">
		<div class="hero-slider swiper">
			<div class="swiper-wrapper">
				<div class="hero-slider__item swiper-slide">
					<div class="hero-slider__col">
						<h1 class="hero-slider__title">медицинский центр <span>«профессор»</span></h1>
						<div class="hero-slider__text">Медцентр «Профессор» был создан чтобы объединить в одном учреждении группу специалистов-профессоров </div>
						<ul class="info-list">
							<li>Высокое качество обслуживания</li>
							<li>Квалифицированный персонал</li>
							<li>Доступные цены</li>
						</ul>
						<div class="hero-slider__actions">
							<button class="btn btn--primary">Запись на прием</button>
						</div>
					</div>
					<div class="hero-slider__col">
						<img class="hero-slider__img" src="img/doctor-img.png" alt="">
						<img class="art-30" src="img/30.png" alt="">
					</div>
				</div>
				<div class="hero-slider__item swiper-slide">
					<div class="hero-slider__col">
						<h1 class="hero-slider__title">медицинский центр <span>«профессор»</span></h1>
						<div class="hero-slider__text">Медцентр «Профессор» был создан чтобы объединить в одном учреждении группу специалистов-профессоров </div>
						<ul class="info-list">
							<li>Высокое качество обслуживания</li>
							<li>Квалифицированный персонал</li>
							<li>Доступные цены</li>
						</ul>
						<div class="hero-slider__actions">
							<button class="btn btn--primary">Запись на прием</button>
						</div>
					</div>
					<div class="hero-slider__col">
						<img class="hero-slider__img" src="img/doctor-img.png" alt="">
						<img class="art-30" src="img/30.png" alt="">
					</div>
				</div>
			</div>
			<div class="hero-slider__nav">
				<div class="swiper-pagination"></div>
				<div class="section-slider-actions">
					<div class="swiper-button swiper-button-prev">
						@@include('../_svg-icon.html', { "name": "arrow-left" })
					</div>
					<div class="swiper-button swiper-button-next">
						@@include('../_svg-icon.html', { "name": "arrow-right" })
					</div>
				</div>
			</div>
		</div>
	</div>
</section>