<section class="reviews">
	<div class="container">
		<div class="section-head">
			<h2 class="title title--dark">Отзывы</h2>
		</div>
		<div class="reviews-content">
			<div class="reviews-slider">
				<div class="reviews-slider__item">
					<div class="reviews-slider__img">
						<img src="/img/review.png" alt="Отзыв">
					</div>
					<div class="review-slider__content">
						<div class="reviews-slider__caption">
							<div class="reviews-slider__caption-name">Петрова Светлана</div>
							<div class="reviews-slider__caption-date">25.06.2020</div>
						</div>
						<div class="reviews-slider__text">
							“Наблюдалась в медицинском центре «Профессор» на протяжении всего срока беременности, делала УЗИ и сдавала анализы. Впечатление от 4D потрясающее, а результаты анализов всегда качественные и готовы в срок. Думаю, что доверять врачам медицинского центра «Профессор» можно и даже нужно.”
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-actions">
				<a href="/" class="btn btn--secondary">Все отзывы</a>
			</div>
		</div>
	</div>
</section>