<section class="info">
	<div class="container">
		<div class="info__row">
			<div class="info__col">
				<div class="section-head">
					<h2>О Медицинском центре “Профессор”</h2>
				</div>
				<ul class="info-list">
					<li>Доступные цены</li>
					<li>Прием ведут только специалисты– профессора, доценты, доктора и кандидаты медицинских наук, врачи высшей категории с большим опытом клинической работы</li>
					<li>Диагностическая аппаратура самых известных фирм Германии и Японии</li>
					<li>Собственные лаборатории с самым современным оборудованием</li>
				</ul>
			</div>
			<div class="info__col">
				<img class="collage" src="img/collage.png" alt="Коллаж">
			</div>
		</div>
		<div class="info__row">
			<div class="info__col info__col--license">
				<div class="section-head">
					<h2>лицензии и сертификаты</h2>
				</div>
				<img src="img/serts.png" alt="сертификаты">
				<div class="info__text">
					Сегодня каждый медцентр в Санкт-Петербурге должен отвечать следующим требованиям: высокое качество обслуживания, квалифицированный персонал и доступные цены. Многие ли медицинские центры в Санкт-Петербурге соответствуют этому? 
				</div>
			</div>
			<div class="info__col info__col--text">
				<div class="info__caption">О Медицинском центре “Профессор”</div>
				<div class="info__text">
					Сегодня каждый медцентр в Санкт-Петербурге должен отвечать следующим требованиям: высокое качество обслуживания, квалифицированный персонал и доступные цены. Многие ли медицинские центры в Санкт-Петербурге соответствуют этому? Можно назвать, по крайней мере, один – это медицинский центр «Профессор» на улице Чайковского, 42. Медицинский центр располагается по одному адресу и не имеет филиалов по городу.
					<br>
					<br>
					Известный медцентр «Профессор» был создан в 1992 г., и уже с начала его образования ставилась задача объединить в одном лечебном учреждении группу специалистов-профессоров самой высокой квалификации независимо от их ведомственной принадлежности.
				</div>
				<div class="info-quote">
					<img src="img/info-quote.png" alt="Арт">
					<div class="info-quote__text">
						“Разобраться с такими заболеваниями под силу только специалистам с глубокими научными знаниями и большим практическим опытом лечебной, клинической работы.”
					</div>
				</div>
			</div>
		</div>
	</div>
</section>